// Place all the styles related to the MadlibrisGames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p.opponent {

  padding-left: 0px;
  color: #555555;
  line-height: inherit;
  font-size: 0.875rem;
}
p.uninvite{
  color: #555555;
  line-height: inherit;
  font-size: 0.875rem;
  display: inline-block;
}
#new_player_username {
  padding: 3px;
  margin: 3px;
}
.off-canvas-wrap {
  padding-bottom: 50px
}
